@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: grey;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.right-links{
  margin-right: 16px;
}

.left-links{
  margin-left: 16px;
  padding: 0;
}

.content{
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

}

.right-links, .left-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}

.footer{
  background-color: #eeeeee;
}

button{
  padding: 8px 12px;
}
