/* Add CSS Styling */

.c{
    background-color: #FFB6C1;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#two{
    color: #0000FF;
    font-size: 36px;
}
#three{
    font-size: 32px;
}
#four{
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}